<p>
  Artist: <%=@song.artist %>
</p>

<p>
  <%=@song.title %>
</p>

<p>
  <a href=<%=@song.url%>><%=@song.url%></a>
</p>

<p>
  Posted by: <%=User.where(:id => @song.user_id).first.username%>
</p>

<p>
  Posted on: <%=@song.created_at%>
</p>

<hr/>
<p>
  Other Posts From This User
</p>

<%Song.where(:user_id => @song.user_id).where.not(:id => @song.id).all.each do |song|%> 
  <%=song.title%>
  <br/>
  <a href=<%=@song.url%>><%=song.url%></a>
  <br/>
  <br/>
<%end%>

<hr/>
<a href="/songs" role="button" class="btn btn-info">Back to ALL songs!</a>